section.banner_wrapper
  .container
    .swiper-container
      .swiper-pagination
      .swiper-wrapper 
        .swiper-slide 
          .swiper-image__wrap
            img.swiper-image(src="./images/slide1.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big sofa 2-seat
                p.image-desc__price Rp 17.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide2.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big double bed
                p.image-desc__price Rp 28.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide3.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big sofa 3-seat
                p.image-desc__price Rp 35.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide4.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big sofa 3-seat
                p.image-desc__price Rp 77.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide5.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big double bed
                p.image-desc__price Rp 42.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide6.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big sofa 3-seat
                p.image-desc__price Rp 29.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
        .swiper-slide
          .swiper-image__wrap
            img.swiper-image(src="./images/slide7.png", alt="Slide1")
            .swiper-image__desc 
              .text__wrap
                h2.image-desc__title Bohauss
                p.image-desc__text Luxury big sofa 2-seat
                p.image-desc__price Rp 32.000.000
              .icon__wrap 
                i.icon-right-arrow.banner-arrow
    .banner-desc__wrap
      h1.banner-desc__title High-Quality Furniture Just For You
      p.banner-desc__text 
        |Our furniture is made from selected and best quality materials that are suitable for your dream home
      a(href="#").banner-desc__btn Shop now
      
