section.features 
  .container.features-container 
    .feature__cover 
      i.icon-trophy
      .feature__desc
        h3.feature-desc__title High Quality
        p.feature-desc__text Crafted from top materials
    .feature__cover 
      i.icon-guarantee
      .feature__desc
        h3.feature-desc__title Warrany Protection
        p.feature-desc__text Over 2 years
    .feature__cover 
      i.icon-shipping
      .feature__desc
        h3.feature-desc__title Free Shipping
        p.feature-desc__text Order over 150$
    .feature__cover 
      i.icon-customer-support
      .feature__desc
        h3.feature-desc__title 24 / 7 Support
        p.feature-desc__text Dedicated support