section.footer
  .container
    hr.footer-hr
    .footer-container
      .footer-list__cover
        ul.footer-info__ul 
          li.li-title Funiro.
          li.footer-info__desc.info-item
            |Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
          li.footer-info__address-cover
            i.icon-location
            p.footer-info__address.info-item Sawojajar Malang, Indonesia
          li.footer-info__tel-cover
            i.icon-phone 
            p.footer-info__tel-num.info-item +6289 456 3455
          li.footer-info__web-address.info-item www.funiro.com
      .footer-list__cover
        ul.footer-menu__ul
          li.footer-list__title.li-title Menu 
          li.footer__item 
            a.footer-item__link(href="#") Products
          li.footer__item
            a.footer-item__link(href="#") Rooms
          li.footer__item 
            a.footer-item__link(href="#") Inspirations
          li.footer__item 
            a.footer-item__link(href="#") About Us
          li.footer__item 
            a.footer-item__link(href="#") Terms & Policy
      .footer-list__cover
        ul.footer-account__ul
          li.footer-list__title.li-title Account
          li.footer__item
            a.footer-item__link(href="#") My Account
          li.footer__item 
            a.footer-item__link(href="#") Checkout
          li.footer__item 
            a.footer-item__link(href="#") My Cart
          li.footer__item 
            a.footer-item__link(href="#") My catalog
      .footer-list__cover
        ul.footer-connect__ul
          li.footer-list__title.li-title Stay Connected
          li.footer__item 
            a.footer-item__link(href="#") Facebook
          li.footer__item 
            a.footer-item__link(href="#") Instagram
          li.footer__item 
            a.footer-item__link(href="#") Twitter 
      .footer-list__cover
        ul.footer-connect__ul
          li.footer-list__title.li-title Stay Updated
        .footer-update__cover
          input.footer-update__input(type="email" placeholder="Enter your email")
          .update-icon__cover
            i.icon-telegram