section.furnitures 
  .container.furnitures-container
    p.furnitures-subtitle Share your setup with
    h4.furnitures-title #FuniroFurniture
  img.furnitures__img(src="./images/groupOfImages.png", alt="Furnitures")
