.header 
  .container.header__container 
    span.header__logo Funiro.
    nav.header__nav 
      .nav-link__wrap
        a.nav__link(href="#") Products 
          i.icon-down.chervon-down
      .nav-link__wrap    
        a.nav__link(href="#") Rooms 
          i.icon-down.chervon-down
      .nav-link__wrap
        a.nav__link(href="#") Inspirations
    .header__form 
      button.button__search
        i.icon-search 
      input(type="text" placeholder="Search for minimalist chair").search__input
    .header__actions 
      button.fav__btn
        i.icon-heart 
      button.cart__btn 
        i.icon-cart
      div.user__wrap
        img.user(src="./images/user.png", alt="User photo")