section.inspirations#rooms
  .container.inspirations-container 
    .inspiration-desc__cover 
      h3.inspiration-desc__title 50+ Beautiful rooms inspiration
      p.inspiration-desc__text
        |Our designer already made a lot of beautiful prototipe of rooms that inspire you
      a(href="#").inspiration-desc__btn Explore more
    .inspiration-slider 
      .swiper-container.inspiration-swiper-container
        .swiper-wrapper
          .swiper-slide.inspiration-slide
            .insp-slide__img-cover
              img.insp-slide__img(src="./images/pictures.png", alt="Pictures on Wall")
              .insp-slide__img-desc 
                p.insp-slide__img-text 01 — Bed Room
                h4.insp-slide__img-title Inner Peace
          .swiper-slide
            .insp-slide__img-cover
              img.insp-slide__img(src="./images/lightKitchen.png", alt="Light Kitchen")
              .insp-slide__img-desc 
                p.insp-slide__img-text 02 — Kitchen
                h4.insp-slide__img-title Inner Peace
          .swiper-slide
            .insp-slide__img-cover
              img.insp-slide__img(src="./images/comode.png", alt="Comode")
              .insp-slide__img-desc 
                p.insp-slide__img-text 03 — Living Room
                h4.insp-slide__img-title Inner Peace
          .swiper-slide
            .insp-slide__img-cover
              img.insp-slide__img(src="./images/balconyPlants.png", alt="Balcony Plants")
              .insp-slide__img-desc 
                p.insp-slide__img-text 04 — Living Room
                h4.insp-slide__img-title Inner Peace
          .swiper-slide
            .insp-slide__img-cover
              img.insp-slide__img(src="./images/softKitchen.png", alt="Soft Kitchen")
              .insp-slide__img-desc 
                p.insp-slide__img-text 5 — Kitchen
                h4.insp-slide__img-title Inner Peace
        //- .swiper-button-prev.btn-cirlce
        .swiper-button-next.btn-cirlce
        .swiper-pagination
