section.products 
  h4.products__title Our Products
  .container.products__container
    .product-card__wrap
      .card-front
        .product-card__sale.sale-red
          span.sale-text -30%
        img(src="./images/whiteTable.png", alt="White Table").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Syltherine
          p.img-desc__subtitle Stylish cafe chair
          .img-desc__price-wrap
            p.img-desc__new-price Rp 2.500.000
            span.img-desc__old-price Rp 3.500.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-red
          span.sale-text -50%
        img(src="./images/whiteChair.png", alt="White Chair").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Leviosa
          p.img-desc__subtitle Stylish cafe chair
          .img-desc__price-wrap
            p.img-desc__new-price Rp 2.500.000
            span.img-desc__old-price Rp 3.500.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-red
          span.sale-text -50%
        img(src="./images/greySofa.png", alt="Grey Sofa").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Lolito
          p.img-desc__subtitle Luxury big sofa
          .img-desc__price-wrap
            p.img-desc__new-price Rp 7.000.000
            span.img-desc__old-price Rp 14.000.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-green
          span.sale-text New
        img(src="./images/fan.png", alt="Fan").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Respira
          p.img-desc__subtitle Minimalist fan
          .img-desc__price-wrap
            p.img-desc__new-price Rp 500.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        img(src="./images/lamp.png", alt="Lamp").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Grifo
          p.img-desc__subtitle Night lamp
          .img-desc__price-wrap
            p.img-desc__new-price Rp 1.500.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-green
          span.sale-text New
        img(src="./images/mug.png", alt="Mug").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Muggo
          p.img-desc__subtitle Small mug
          .img-desc__price-wrap
            p.img-desc__new-price Rp 150.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-red
          span.sale-text -50%
        img(src="./images/pinkBed.png", alt="Pink Bed").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Pingky
          p.img-desc__subtitle Cute bed set
          .img-desc__price-wrap
            p.img-desc__new-price Rp 7.000.000
            span.img-desc__old-price Rp 14.000.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
    .product-card__wrap
      .card-front
        .product-card__sale.sale-green
          span.sale-text New
        img(src="./images/whiteFlowers.png", alt="White Flowers").card-front__img
        .card-front__img-desc 
          h5.img-desc__title Potty
          p.img-desc__subtitle Minimalist flower pot
          .img-desc__price-wrap
            p.img-desc__new-price Rp 500.000
      .card-back
        .card-back__desc 
          a(href="#").card-back__desc-btn Add to cart 
          .card-back__actions 
            i.icon-share
            span.share Share
            i.icon-heart
            span.like Like
  .products__btn-wrap
    a(href="#").products__btn Show More