section.tips
  .container.tips-container 
    h3.tips-container__title Tips & Tricks
    .swiper-container.tips-swiper-container
      .swiper-wrapper
        .swiper-slide.tips-slide&attributes({"max-with": "391px"})
          .tips-card__wrap 
            img.tips-card__img(src="./images/family.png", alt="Family")
            .tips-card-img__desc 
              h4.card-img__title How to create a living room to love
              p.card-img__date 20 jan 2020
        .swiper-slide.tips-slide&attributes({"max-with": "391px"})
          .tips-card__wrap 
            img.tips-card__img(src="./images/WorkPlace.png", alt="Work Place")
            .tips-card-img__desc 
              h4.card-img__title Solution for clean look working space
              p.card-img__date 10 jan 2020
        .swiper-slide.tips-slide&attributes({"max-with": "391px"})
          .tips-card__wrap 
            img.tips-card__img(src="./images/Kitchen.png", alt="Kitchen")
            .tips-card-img__desc 
              h4.card-img__title Make your cooking activity more fun with good setup
              p.card-img__date 20 jan 2020
        .swiper-slide.tips-slide&attributes({"max-with": "391px"})
          .tips-card__wrap 
            img.tips-card__img(src="./images/Kitchen.png", alt="Kitchen")
            .tips-card-img__desc 
              h4.card-img__title Make your cooking activity more fun with good setup
              p.card-img__date 20 jan 2020
      .swiper-pagination
      .swiper-button-prev.btn-cirlce
      .swiper-button-next.btn-cirlce