doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Funiro
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    script(src="") 
  body 
    .wrapper
      .banner__cover
        include _includes/_header
        include _includes/_banner
      include _includes/_features
      include _includes/_products
      include _includes/_inspirations
      include _includes/_tips
      include _includes/_furnitures
      include _includes/_footer

    script(src="./node_modules/swiper/swiper-bundle.min.js")
    script(src="./js/scripts.js") 